:root {
    --mainColor: #2874f0;
    --secondaryColor: #ffe500;
    --whiteColor: #fff;
    --color-bg-grey: #e4e7ed;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    background-color: #f1f3f6;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

textarea:focus,
input:focus {
    outline: none;
}

/* Navbar Styling */
.navbar-container {
    background-color: var(--mainColor);
    position: fixed;
    width: 100%;
}

.navbar {
    color: var(--whiteColor);
    display: flex;
    height: 56px;
    width: 70%;
    margin: 0 auto;
    max-width: 1700px;
    z-index: 999;
}

#navbarLeft,
#navbarRight {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.logo-container {
    margin-right: 1rem;
    font-size: 10px;
    font-style: italic;
    display: grid;
}

.logo-container .logo {
    display: grid;
}

.nav-check {
    display: none;
}

.main-logo {
    width: 70px;
}

.logo-bottom {
    text-decoration: none;
    color: var(--whiteColor);
    margin-top: -3px;
}

.logo-bottom:hover {
    text-decoration: underline;
}

.logo-bottom img {
    width: 10px;
}

.logo-bottom span {
    color: var(--secondaryColor);
}

.search-input-form {
    display: flex;
    min-width: 520px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
}

.search-input-form input {
    padding: 0 1rem;
    border-radius: 2px 0 0 2px;
    border: 0px solid;
    font-size: 14px;
    height: 34px;
    width: 100%;
}

.search-input-form button {
    padding: 0.375rem 0.625rem;
    border: none;
    background: var(--whiteColor);
    color: var(--mainColor);
    font-size: 18px;
}

.login {
    margin: auto 1.25rem auto 6px !important;
}

.login a {
    background-color: var(--whiteColor);
    padding: 0.375rem 2.5rem;
    color: var(--mainColor);
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
}

.become-a-sellar {
    margin: auto 1.25rem !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.navbar .more .more-dropdown-btn {
    color: var(--whiteColor);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: auto;
    padding: 0.35rem 1.5rem;
    display: block;
}

.down-icon {
    font-size: 8px;
    transition: transform 0.3s ease-in;
}

.more-dropdown-menu {
    position: absolute;
    background: var(--whiteColor);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    display: none;
    -webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
}

.arrow-up {
    margin: -0.4rem auto 0 2rem;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--whiteColor);
}

.more:hover .more-dropdown-menu {
    display: block;
}

.more-dropdown-menu ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.more-dropdown-menu ul li {
    border-bottom: 1px solid #cfcfcf;
}

.more-dropdown-menu ul li a {
    display: block;
    padding: 1.125rem 3.75rem 1.125rem 0;
    color: black !important;
    font-size: 14px;
}

.more-dropdown-menu ul li a svg {
    padding-right: 0.625rem;
    padding-left: 1rem;
    color: var(--mainColor);
}

.more>a:hover .down-icon {
    transform: rotate(180deg);

}

.navbar .cart {
    margin: auto 1.25rem;
    background-color: var(--mainColor);
}

.navbar .cart a {
    color: var(--whiteColor) !important;
    background-color: var(--mainColor);
}